apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads-stage/test-rhtap-84-tenant/load-app-c974d30d-4126-4173-9304-365bee2dc0c2/devfile-sample@sha256:931602cd8b4d556a196c09105d172c232d4b546924515d6ed871e25fd65dbc7b
        name: my-nodejs
        resources: {}
status: {}
